/* Imports */
@import "tailwindcss";
@import "@nuxt/ui";

/* Fonts! */
@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("InterVariable.woff2") format(woff2);
}

@font-face {
  font-family: "Inter Variable Login";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("InterVariable-Login.woff2") format(woff2);
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("IBMPlexMono-Bold-Latin1.woff2") format(woff2);
}

@font-face {
  /*
   * We vendor Noto Color Emoji and use it in all browsers except Safari.
   *
   * Safari doesn't support COLRv1[0] and gets very laggy when handling large
   * font files[1], so we fall back to system emoji there.
   *
   * To update the font, download the latest TTF[2] and run this command:
   *
   *     fonttools ttLib Noto-COLRv1.ttf --flavor woff2 -o Noto-COLRv1.woff2
   *
   * Current version: Unicode 16.0
   *
   * [0] https://caniuse.com/colr-v1
   * [1] https://stackoverflow.com/q/78008226
   * [2] https://github.com/googlefonts/noto-emoji/blob/main/fonts/Noto-COLRv1.ttf
   */
  font-family: "Noto Color Emoji";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("Noto-COLRv1.woff2") format(woff2) tech(color-COLRv1);
}

@font-face {
  font-family: "Noto Color Emoji Login";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("Noto-COLRv1-Login.woff2") format(woff2) tech(color-COLRv1);
}

/* Defaults */
:root {
  font-family: "Inter Variable", "Noto Color Emoji", sans-serif;
  font-optical-sizing: auto;

  /* header gradient on black produces a bad effect */
  overscroll-behavior-x: none;

  --default-border-radius: 2px;
  --header-height: 6rem;
  --header-height-outer: calc(var(--header-height) + 1px);
  --header-stop: calc(var(--header-height) - 1.5rem);

  --pill-height: 2.5rem;
  --pill-border: 2.5px;
  --pill-height-outer: calc(var(--pill-height) + (2 * var(--pill-border)));
  --scroll-fudge: 8.5px;

  scroll-padding-top: calc(var(--header-stop) + var(--pill-height-outer) + var(--scroll-fudge));
}

:root ::selection {
  /* Undo Nuxt UI changes. https://stackoverflow.com/a/33449830 */
  background-color: highlight !important;
  color: highlighttext !important;
}

html,
body.fullscreen,
body.fullscreen #__nuxt,
body.fullscreen #__nuxt>div {
  width: 100%;
  height: 100%;
  /* prevent swipe-to-go-back on Chrome for macOS */
  overscroll-behavior-x: none;
}

hr {
  border: none;
}

button {
  user-select: none;
  cursor: pointer;
}

form {
  --ui-primary: oklch(72% 0.19 var(--form-hue));
  font-size: 15px;
}

form :focus-visible {
  outline-color: var(--ui-primary) !important;
}

button[role="checkbox"] span[data-state="checked"] {
  border-radius: 4px;
}

/* Common Classes */
.flex-spacer {
  flex-grow: 1;
}

.cell {
  display: flex;
  overflow: hidden;
  position: relative;

  border-radius: var(--default-border-radius);
}

.cell:focus-within {
  outline: 2px solid black;
}

/* Animations */
@keyframes fade-out {
  0% {
    opacity: 100%;
  }

  99%,
  100% {
    opacity: 0%;
  }
}

@keyframes color-in {
  0% {
    color: oklch(55% 0.03 275deg);
  }

  99%,
  100% {
    color: white;
  }
}

@keyframes blink {
  50% {
    opacity: 100%;
  }
}
