@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("InterVariable.woff2") format(woff2);
}

@font-face {
  font-family: "Inter Variable Login";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("InterVariable-Login.woff2") format(woff2);
}

@font-face {
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("IBMPlexMono-Bold-Latin1.woff2") format(woff2);
}

@font-face {
  /* https://github.com/googlefonts/noto-emoji/blob/main/fonts/Noto-COLRv1.ttf */
  /* fonttools ttLib Noto-COLRv1.ttf --flavor woff2 -o Noto-COLRv1.woff2 */
  font-family: "Noto Color Emoji";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("Noto-COLRv1.woff2") format(woff2) tech(color-COLRv1);
  /* fall back to system emoji: the non-COLRv1 file makes Safari very slow */
}

:root {
  font-family: "Inter Variable", "Noto Color Emoji", sans-serif;
  font-optical-sizing: auto;
}

:root ::selection {
  background-color: oklch(75% 0.21 275deg / 0.33);
}

.highlight {
  /* https://stackoverflow.com/a/64127605 */
  margin: 0 -0.4em;
  padding: 0.1em 1.0em 0.1em 0.8em;
  border-radius: 0.75em 0.3em;
  background-image: linear-gradient(90deg,
      oklch(85% 0.25 100deg / 10%),
      oklch(91% 0.19 100deg / 70%) 4%,
      oklch(91% 0.25 100deg / 30%) 92%,
      oklch(91% 0.25 100deg / 0%));
}

div[data-popper-placement] {
  z-index: 8;
}

button,
fieldset,
hr,
svg {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
}

button {
  user-select: none;
  cursor: pointer;
}

button:focus {
  outline: 2px solid black;
}

@keyframes fade-out {

  0% {
    opacity: 100%;
  }

  99%,
  100% {
    opacity: 0%;
  }
}

@keyframes color-in {

  0% {
    color: oklch(55% 0.03 275deg);
  }

  99%,
  100% {
    color: white;
  }
}

@keyframes blink {

  50% {
    opacity: 1;
  }
}

:nth-last-child(n+2 of .pill.stuck) {
  visibility: hidden;
}

:nth-last-child(n+2 of .pill.stuck)+.titles {
  visibility: hidden;
}

.titles.stuck {
  color: white !important;
}
