@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@600&display=swap');

@font-face {
  font-family: InterVariable;
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("InterVariable.woff2") format("woff2");
}

@font-face {
  font-family: InterVariable;
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("InterVariable-Italic.woff2") format("woff2");
}

:root {
  font-family: "InterVariable", sans-serif;
  font-optical-sizing: auto;
}

.cell {
  padding: 0 0.33rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

hr {
  margin: 0;
  padding: 0;
  border: none;
}

@keyframes fade-out {

  0% {
    opacity: 100%;
  }

  99%,
  100% {
    opacity: 0%;
  }
}

.pill:nth-last-child(n+2 of .stuck) {
  visibility: hidden;
}

.pill:nth-last-child(n+2 of .stuck)+.titles {
  visibility: hidden;
}
